        body {
            margin-top: 20px;
        }

        .heading-highlight {
            background-color: lavender;
            padding: 5px 10px;
            font-weight: bold;
            margin: 20px 5%;
        }

        .jumbotron-slim-survey {
            padding: 10px;
        }

        .jumbotron-slim-home {
            padding: 10px;
            padding-bottom: 7%;
        }

        #submitButton {
            display: block;
        }

        #buttonsAfterSubmit {
            display: none;
            text-align: center;
        }

        #backToMatchesNonModal {
            width: 40%;
            margin: 0 3%;
        }

        #resetSurvey {
            width: 40%;
            color: black;
            margin: 0 3%;
        }

        #imageHelp {
            float: right;
            margin-top: 10px;
        }

        .indent {
            margin: 0 10%;
        }

        .chosen-select {
            margin: 0 5%;
        }

        .inline {
            display: inline-block;
        }

        .img-results {
            float: left;
        }

        .float-left {
            float: left;
        }

        .float-right {
            float: right;
        }

        .jumbo-bottom-margin-home {
            margin: 20px 0;
        }

        .btn-float-right {
            float: right;
            padding: 0 10px;
        }

        .align-center {
            text-align: center;
        }

        #heres-how {
            padding-left: 10px;
        }

        .ttl-results {
            float: left;
            margin: 0 10px;
            width: 72%;
            background-color: #E8860C;
            color: white;
            font-family: Georgia, Times, 'Times New Roman', serif;
            font-size: x-large;
            font-weight: bold;
            text-align: left;
            padding-left: 10px;
        }

        .dsc-results {
            float: left;
            margin: 0 10px;
            width: 72%;
            font-size: medium;
            text-align: left;
            padding-left: 10px;
        }

        .line-item {
            /* width: 40vw; */
            padding: 10px;
            background-color: lightgray;
        }

        .line-item::after {
            content: '';
            clear: both;
            display: table;
        }

        .red-text {
            color: red;
        }

        .green-text {
            color: green;
            font-weight: bold;
        }

        .button-modal {
            margin-top: 5px;
            float: right;
        }